[Unit]
Description=flutterbot - an mlp inspired bot based on lazybot
Requires=mongodb.service
After=mongodb.service

[Service]
Type=Forking
User=flutterbot
ExecStart=/usr/bin/flutterbot
PidFile=%h/flutterbot.pid

[Install]
WantedBy=multi-user.target
